<!DOCTYPE html>
<html lang="zh-CN">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h3 class="page-header">查询完成！</h3>
            </div>
        </div>
    </div>
    <div class="container">
            {% for c in content %}
                {{ c }}<br>
            {% endfor %}
    </div>
</body>
