<!DOCTYPE html>
<html lang="zh-CN">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <h5 class="page-header">【{{ item_description }}】状态趋势图</h5>
        </div>
        <div class="col-lg-5">
            <form action="." method="GET">
                <button class="btn btn-link btn-xs" type="submit" name="hours" value="1">1小时</button>
                <button class="btn btn-link btn-xs" type="submit" name="hours" value="2">2小时</button>
                <button class="btn btn-link btn-xs" type="submit" name="hours" value="4">4小时</button>
                <button class="btn btn-link btn-xs" type="submit" name="hours" value="8">8小时</button>
                <button class="btn btn-link btn-xs" type="submit" name="hours" value="24">1天</button>
            </form>
        </div>
    </div>
    <div id="main" style="height:480px;width: 750px"></div>
</div>
<script src="/static/echarts/echarts.js"></script>
<script type="text/javascript">

    require.config({
        // 路径配置
        paths: {
            echarts: '/static/echarts'
        }
    });
    require(
            [
                'echarts',
                'echarts/chart/bar',
                'echarts/chart/line'
            ],
            function (ec) {
                var myChart = ec.init(document.getElementById('main'), 'macarons');

                function list_data_in() {
                    var res = [];
                    var List = {{ h_pingsec_data|safe }};
                    var len = List.length;
                    while (len--) {
                        res.push(List[len]['value'])
                    }
                    return res;
                }

                function list_data_out() {
                    var res = [];
                    var List = {{ h_pingloss_data|safe }};
                    var len = List.length;
                    while (len--) {
                        res.push(List[len]['value'])
                    }
                    console.log(res);
                    return res;
                }

                function list_time() {
                    var res = [];
                    var List = {{ h_pingsec_data|safe }};
                    var len = List.length;
                    while (len--) {
                        res.push(List[len]['clock'])
                    }
                    return res;
                }

                var option = {
                    color: ['orange', 'rgba(65,105,225,0.8)'],

                    grid: {
                        x: '5%',
                        y: '10%',
                        x2: '10%'
                        //y2: '10%'
                    },
                    tooltip: {
                        //show: true,
                        trigger: 'axis'
                    },
                    legend: {
                        data: ['丢包率', '延时']
                    },
                    toolbox: {
                        show: true,
                        x: 'right',
                        y: 'bottom',
                        orient: 'vertical',
                        feature: {
                            magicType: {show: true, type: ['line', 'bar']},
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    calculable: true,
                    dataZoom: {
                        show: true,
                        handleSize: 30,
                        start: 50,
                        end: 100,
                        realtime: true
                        //zoomlock: true
                    },
                    xAxis: [
                        {
                            type: 'category',
                            splitLine: {
                                show: true,
                                lineStyle: {
                                    type: 'dashed'
                                }
                            },
                            data: list_time()
                        }
                    ],
                    yAxis: [
                        {
                            name: '延时(ms)',
                            type: 'value',
                            splitLine: {
                                show: true,
                                lineStyle: {
                                    type: 'dashed'
                                }
                            },
                            scale: false
                        },
                        {
                            name: '丢包率(%)',
                            type: 'value',
                            max: 100,
                            splitLine: {
                                show: true,
                                lineStyle: {
                                    type: 'dashed'
                                }
                            },
                            scale: false
                        }
                    ],
                    series: [
                        {
                            name: '延时',
                            type: 'line',
                            data: list_data_in(),
                            markPoint: {
                                data: [
                                    {type: 'max', name: '最大值'},
                                    {type: 'min', name: '最小值'}
                                ]
                            },
                            markLine: {
                                data: [
                                    {type: 'average', name: '平均值'}
                                ]
                            }
                        },
                        {
                            name: '丢包率',
                            type: 'line',
                            yAxisIndex: 1,
                            data: list_data_out(),
                            markPoint: {
                                data: [
                                    {type: 'max', name: '最大值'},
                                    {type: 'min', name: '最小值'}
                                ]
                            },
                            markLine: {
                                data: [
                                    {type: 'average', name: '平均值'}
                                ]
                            }
                        }
                    ]
                };
                myChart.setOption(option);
            }
    );
</script>
</body>